.container {
    display: grid;
    margin: auto;
  }
  #cluedo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 600px;
  }
  #cluedo > div {
    border: solid;
    padding: .8rem;
  }